* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

:root {
    --bg-main: #ffffff;
    --bg-sec: #f3f3f3;
    --bg-ter: #cecece;
    --fg-reg: #272727;
    /* --fg-hg: #7925c7; */
    /* --fg-hg: #02750b; */
    --fg-hg: #0077ff;
}

body {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.loading {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-main);
    transform: translateZ(1rem);
}

.container {
    position: relative;
    display: flex;
    z-index: 2;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    transform: translateZ(1rem);
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    overflow: hidden;
    z-index: 3;
    background-image: url(./images/P_logo.png);
    background-position: center;
    background-size: cover;
} 

.placeholder {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bg-sec);
    overflow: hidden;
    z-index: 4;
    width: 100%;
    height: 100%
}

/* -- The loading ghost -- */

.ghost {
    position: relative;
    display: flex;
    background-color: #000;
    height: 120%;
    width: 60%;
    z-index: 4;
    transform: rotate(15deg);
    background: linear-gradient(90deg, var(--bg-sec), var(--bg-ter), var(--bg-sec));
    animation: ghost 1s ease infinite;
}

@keyframes ghost {
    0% {
        left: -60%;
    }

    100% {
        left: 100%;
    }
}

/* -- EOS -- */

.progress-bar {
    position: relative;
    display: flex;
    width: 40rem;
    max-width: 80%;
    height: 0.4rem;
    border-radius: 0.4rem;
    overflow: hidden;
    z-index: 4;
    background-color: var(--bg-sec);
}

/* -- The progress bar -- */

.progress {
    position: relative;
    display: flex;
    width: 0;
    height: 100%;
    z-index: 3;
    border-radius: 0.4rem;
    background-color: var(--fg-hg);
    animation: progress 2s linear 1s 1;
}

@keyframes progress {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }
}

/* -- EOS -- */

.logo-text {
    display: flex;
    z-index: 4;
}

.logo-text h1 {
    font-size: 3rem;
    letter-spacing: 0.02rem;
    color: var(--fg-reg);
}

.logo-text h1 em {
    color: var(--fg-hg);
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
}