* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

:root {
    --bg-main: #ffffff;
    --bg-sec: #f3f3f3;
    --bg-ter: #cecece;
    --bg-null: #00000000;
    --fg-reg: #272727;
    /* --fg-hg: #7925c7; */
    /* --fg-hg: #02750b; */
    --fg-hg: #0077ff;
}

body {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transform: translateZ(1rem);
    background-color: var(--bg-main);
}

.main .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transform: translateZ(1rem);
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.land-text h1 {
    font-size: 2.8rem;
    color: var(--fg-reg);
    text-align: center;
}

.land-text h1 em {
    font-size: inherit;
    font-family: inherit;
    font-style: normal;
    color: var(--fg-hg);
}

.ill-box {
    display: flex;
    height: 200%;
    width: 100%;
    background-image: url(./images/unDraw/undraw_img_1.png);
    background-position: center;
    background-size: cover;
}

.land-text p {
    font-size: 1.96rem;
    text-align: justify;
}